html {
    margin: 0;
    padding: 0;
}

:root  {
    font-family: "Muli";
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

/*h2 {
    display: none;
    z-index: -100;
    width: 100%;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}*/

#topbar {
    float: left;
    width: 100%;
    font-size: 1rem;
    background: #86a0b6;
    color: #e5e3e3;
    margin: 0;
    line-height: 2rem;
}

#topbar a {
    text-decoration: none;
    color: #e5e3e3;
}

#contactbar {
    padding: 0.6rem;
    margin-left: 2rem;
    float: left;
}

#social {
    margin-left: 40rem;
    padding: 0.6rem;
    margin-right: 2rem;
    float: left;
}



#contactbar li {
    margin: 0 0.8rem 0 0;
    display: inline;
}

#contactbar i {
    margin: 0 0.5rem 0;
}

#social li {
    display: inline;
    margin-right: 0.8rem;
}