* {
    scrollbar-width: none !important;
}

@media (min-width: 960px) {

    .encabezado {
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/pizzas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 75vh !important;
        display: flex;
        flex-direction: column;
        animation: fondoanimacionl 30s ease-out infinite alternate both !important;
        overflow: hidden;
    }


    .navegacion {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        /*background: linear-gradient(0deg, rgba(212,202,175,0.4729344729344729) 0%, rgba(212,202,175,0.48290598290598286) 100%);*/
        transition: all 0.5s ease-in-out;
        top: 0px;
    }

    @keyframes fondoanimacionl {
        0% {
            background-size: 100%;
            transform-origin: 50% 16%;
        }
    
        20% {
            background-size: 130%;
            transform-origin: bottom left;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/cocina.jpg);
        }
    
        40% {
            background-size: 100%;
            transform-origin: 50% 16%;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/pasta.jpg);
        }
    
        60% {
            background-size: 130%;
            transform-origin: top left;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/brindis.jpg);
        }
    
        80% {
            background-size: 100%;
            transform-origin: 50% 16%;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/ñoquis.jpg);
        }
    
        100% {
            background-size: 130%;
            transform-origin: top left;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/lasagna.jpg);
        }
    }

    .menu {
        padding: 0.5rem;
        /*background: linear-gradient(0deg, rgba(212,202,175,0.4729344729344729) 0%, rgba(212,202,175,0.48290598290598286) 100%);*/
        display: flex;
        flex-direction: row !important;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 2;
        gap: 1rem;
        transition: all 0.7s ease-in-out;
    }

    .logo-menu .logo {
        padding: 5px;
        width: 100px;
        transition: all 0.5s ease-in-out;


    }

    .menu li a {
        color: var(--marron-oscuro);
        font-size: 1rem;
        color: white;
        flex-basis: 3;
        transition: all 0.5s ease-in-out;

    }


    .login-search {
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }

    .iconos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
        color: white;
    }

    .iconos a {
        color: white;
    }

    .row-title {
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        align-content: center;
    }


    .title-content {

        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 1rem;
        flex-basis: 20%;
    }

    .row-title img {
        align-self: center;
        padding: 10px;
        width: 300px !important;
        border-radius: 50%;
    }

    .title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 3rem;
        order: 2;

    }

    .sub-title {
        font-style: italic;
        font-size: 1.2rem;
        order: 1;
    }

    .text {
        font-size: 1rem;
        order: 3;
    }

    
        
    .tarjetas {
        display: flex;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: flex-start;
    }
    

    .tarjeta {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    @keyframes peperonnipizza {
        from {
            left: 278.302px;
            transform: rotate(146.078deg);
        }

        to {
            left: 2500px;
            transform: rotate(245deg);
        }
    }


    #pizzagiro {
        visibility: visible !important;
        position: absolute;
        background: transparent;
        width: 65%;
        z-index: 10;
        top: -10px;
        animation: peperonnipizza linear;
        animation-timeline: scroll(root block);
        transition: all 0.5s ease-in-out;
    }

    .presentacion-container {
        padding: 1rem;
        background: none !important;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        animation: muevefondo linear;
        animation-timeline: scroll(root block);
        height: 80vh !important;
        overflow: hidden !important;
    }

    .article-text {
        width: 60% !important;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .form-container {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .reservation-form {
        padding: 10px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        width: 50% !important;
    }

    .form-fila {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: center;

    }

    .campo {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: space-between;
    }

    .campo input {
        border: dotted 1px black;

    }

    .reservation-form input {
        color: black;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
    }

    .reservation-form textarea {
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
    }

    #submitbtn {
        border: 1px solid black;
        border-radius: 5px;
        width: 30%;
        align-self: center;
    }


    .promotions {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-content: center !important;
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/ñoquis.jpg);
        height: 75vh !important;
        align-items: center;
    }

    .promotions-container {
        overflow: unset !important;
        display: flex;
        gap: 1rem;
        width: 65% !important;
        color: white;
        flex-flow: column wrap !important;
        align-items: center !important;
    }

    .promotions-container>p {
        font-style: italic;
    }

    .promotions-container>h2 {
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .promotions-cards {
        text-align: center;
        display: flex;
        flex-flow: row nowrap !important;
        gap: 2rem;
        align-items: center;
    }

    .promotion-menu {
        padding: 1rem;
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-content: center;
        align-items: center;
        gap: 0.5rem;
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.4) 0%, rgba(0, 0, 0, 0.4) 86%), url(../sources/images/animacion/pasta.jpg);
        background-size: cover;
        height: 330px;
    }

    .promotion-menu h2 {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 500;
    }

    .promotion-menu p {
        padding: 10px;
    }

    .promotion-menu button {
        background: transparent;
        border: solid white 1px;
        border-radius: 5px;
        padding: 0.5rem;
        color: white;
    }

    .promotion-disses {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .disses-card {
        color: black;
        display: flex;
        flex-direction: row;
        background-color: white;
        gap: 0.5rem;
    }

    .disses-text {
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        text-align: left;
        gap: 0.5rem;
    }

    .disses-text h3 {
        font-size: 1rem;
        font-weight: 700;
    }

    .disses-text p {
        font-size: 0.9rem;
    }

    .price {
        font-style: italic;
        text-decoration: underline 1px black solid;
    }

    .disses-card img {
        width: 125px;
    }

    .us-sect1 {
        display: flex;
        padding: 1rem;
        margin: 10px;
        flex-flow: row wrap;
        gap: 1rem;
        align-content: center;
        justify-content: center;
    }
    
    .us-sect1 picture img {
        width: 150px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    }
    
    .us-sect1 article {
        font-size: 0.8rem;
        flex-basis: 25% !important;
    }
    
    .us-sect2 {
        display: flex;
        padding: 1rem;
        margin: 10px;
        flex-flow: row nowrap !important;
        gap: 1rem;
        align-content: center;
        justify-content: center;
    }
    
    .tarjeta-us {
        display: flex;
        flex-flow: row nowrap !important;
        justify-content: space-around;
        align-items: center;
        align-content: space-evenly;
        flex-basis: 20%;
    }
    
    .tarjeta-us .card-text {
        border: none;
    }
    
    .tarjeta-us .card-text h3 {
        font-size: 1rem;
        padding: 5px;
    }
    
    .tarjeta-us .card-text p {
        font-size: 0.7rem;
        line-height: 1rem;
        text-align: left;
        padding: 5px;
    }
    
    .card-icon {
        font-size: 2.5rem;
    }
    
    .card-icon img {
        margin: -10px;
        width: 60px;
    }
    
    .slide {
        width: 60% !important;
    }

    .filosofia-text {
        width: 50% !important;
    } 

}

@media (max-width: 380px) {

    .row-title {
        flex-grow: 2;
        display: flex;
        flex-direction: row !important;
        color: white;
        align-content: center !important;
        justify-content: center !important;
        align-items: flex-end !important;
    }

    .presentacion-container {
        padding: 1rem;
        /* overflow-y: scroll; */
        position: relative;
        display: flex;
        animation: muevefondo linear;
        animation-timeline: scroll(root block);
        height: 95vh !important;
        flex-direction: row;
    }
    
}

@media (min-width: 600px) {
    .encabezado {
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/pizzas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 50vh !important;
        display: flex;
        flex-direction: column;
        animation: fondoanimacions 30s ease-out infinite alternate both;
        overflow: hidden;
    }


    .navegacion {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        /*background: linear-gradient(0deg, rgba(212,202,175,0.4729344729344729) 0%, rgba(212,202,175,0.48290598290598286) 100%);*/
        transition: all 0.5s ease-in-out;
        top: 0px;
    }

    .row-title {
        flex-grow: 2;
        display: flex;
        flex-direction: row !important;
        color: white;
        align-content: center !important;
        justify-content: center !important;
        align-items: center !important;
    }

    @keyframes fondoanimacions {
        0% {
            background-size: 100%;
            transform-origin: 50% 16%;
        }
    
        20% {
            background-size: 130%;
            transform-origin: bottom left;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/cocina.jpg);
        }
    
        40% {
            background-size: 100%;
            transform-origin: 50% 16%;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/pasta.jpg);
        }
    
        60% {
            background-size: 130%;
            transform-origin: top left;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/brindis.jpg);
        }
    
        80% {
            background-size: 100%;
            transform-origin: 50% 16%;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/ñoquis.jpg);
        }
    
        100% {
            background-size: 130%;
            transform-origin: top left;
            background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/lasagna.jpg);
        }
    }

    .tarjetas {
        text-align: justify;
        /* margin: 10px; */
        padding: 1rem;
        display: flex;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 1rem;
        background-color: rgba(221, 221, 221, 0.5);
        flex-wrap: wrap;
    }
    
    #pizzagiro {
        visibility: hidden;
        position: absolute !important;
    }
    
    .presentacion-container {
        padding: 1rem;
        position: relative;
        display: flex;
        animation: muevefondo linear;
        animation-timeline: scroll(root block);
        height: 50vh;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .promotions-container {
        padding: 1rem;
        overflow: scroll;
        display: flex;
        gap: 1rem;
        width: 80% !important;
        color: rgba(255, 255, 255);
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        /* text-align: center; */
        align-items: flex-start;
    }
}



.encabezado {
    background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/pizzas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 75vh !important;
    display: flex;
    flex-direction: column;
    animation: fondoanimacions 30s ease-out infinite alternate both;
    overflow: hidden;
}

@keyframes fondoanimacions {
    0% {
        background-size: 100%;
        transform-origin: 50% 16%;
    }

    20% {
        background-size: 130%;
        transform-origin: bottom left;
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/cocina.jpg);
    }

    40% {
        background-size: 100%;
        transform-origin: 50% 16%;
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/pasta.jpg);
    }

    60% {
        background-size: 130%;
        transform-origin: top left;
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/brindis.jpg);
    }

    80% {
        background-size: 100%;
        transform-origin: 50% 16%;
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/ñoquis.jpg);
    }

    100% {
        background-size: 130%;
        transform-origin: top left;
        background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/movil/lasagna.jpg);
    }
}


.navegacion {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(195, 195, 195, 0) 100%);
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
}

nav {
    width: 100%;
    position: fixed !important;
    top: 0px;
}

.logo-menu {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease-in-out;

}

.menu {
    padding: 0.5rem;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 2;
    gap: 1rem;
    transition: all 0.7s ease-in-out;
    transition: all 0.5s ease-in-out;
    flex-wrap: wrap;
}

.logo-menu .logo {
    padding: 5px;
    width: 100px;
    transition: all 0.5s ease-in-out;


}

.menu li a {
    color: var(--marron-oscuro);
    font-size: 1rem;
    color: white;
    flex-basis: 3;
    transition: all 0.5s ease-in-out;

}


.login-search {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.iconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

.iconos a {
    color: white;
}

.row-title {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}


.title-content {

    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
    flex-basis: 20%;
}

.row-title img {
    padding: 10px;
    width: 200px;
    border-radius: 50%;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    order: 2;

}

.sub-title {
    font-style: italic;
    font-size: 1.2rem;
    order: 1;
}

.text {
    font-size: 1rem;
    order: 3;
}


.tarjetas {
    text-align: justify;
    /* margin: 10px; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    background-color: rgba(221, 221, 221, 0.5);

}

.tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-icon {
    font-size: 1.5rem;
    order: 1;
    padding: 0.5rem;
}

.card-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    padding-left: 0.5rem;
    order: 2;
    border-left: 1px solid rgba(175, 175, 175, 0.5);
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-text h3 {
    font-size: 1rem;
    font-weight: 500;
}

.card-text p {
    font-size: 0.8rem;
    font-weight: 200;
}

footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(195, 195, 195, 0.75) 15%, rgba(195, 195, 195, 0.5) 100%);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1.2rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-content p {
    flex-basis: 10%;
    padding: 10px;
}

.footer-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.footer-content ul li a {
    padding: 10px;
    color: black;
}


.footer-logo {
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.reservation-form {
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.form-fila {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;

}

.campo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}

.campo input {
    border: dotted 1px black;

}

.reservation-form input {
    color: black;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.reservation-form textarea {
    align-self: center;
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
}

#submitbtn {
    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
    align-self: center;
}

/*Animacion*/



@keyframes muevefondo {
    from {
        background-color: #fff;
        background-position: -20% 50%, 100% 10%;
    }

    to {
        background-color: #f9f9f9;
        background-position: -50% 40%, 120% 50%;
    }

}

#pizzagiro {
    visibility: hidden;
}

.presentacion-container {
    padding: 1rem;
    /* overflow-y: scroll; */
    position: relative;
    display: flex;
    animation: muevefondo linear;
    animation-timeline: scroll(root block);
    height: 75vh;
    flex-direction: row;
}

.pres-article {
    width: 95%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.firma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.firma img {
    width: 100px;
}

.firma h5 {
    font-style: italic;
    text-decoration: dotted 1px black;
}

.tarjetero-articulo {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 4rem;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
}

.article-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 0.5rem;

}

.article-card picture img {
    width: 150px;
}

.article-card>h3 {
    font-size: 1rem;
}

.article-text {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.article-text>h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.promotions {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.5) 0%, rgba(0, 0, 0, 0.5) 86%), url(../sources/images/animacion/ñoquis.jpg);
    height: 100vh;
    align-items: center;
}

.promotions-container {
    padding: 1rem;
    overflow: scroll;
    display: flex;
    gap: 1rem;
    width: 100%;
    color: rgba(255, 255, 255);
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.promotions-container>p {
    font-style: italic;
}

.promotions-container>h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.promotions-cards {
    text-align: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.promotion-menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0.5rem;
    background-image: linear-gradient(0deg, rgba(35, 19, 20, 0.4) 0%, rgba(0, 0, 0, 0.4) 86%), url(../sources/images/animacion/pasta.jpg);
    background-size: cover;
    height: 330px;
}

.promotion-menu h2 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
}

.promotion-menu p {
    padding: 10px;
}

.promotion-menu button {
    background: transparent;
    border: solid white 1px;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
}

.promotion-disses {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.disses-card {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    gap: 0.5rem;
}

.disses-text {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    gap: 0.5rem;
}

.disses-text h3 {
    font-size: 1rem;
    font-weight: 700;
}

.disses-text p {
    font-size: 0.9rem;
}

.price {
    font-style: italic;
    text-decoration: underline 1px black solid;
}

.disses-card img {
    width: 125px;
    height: 150px;
}

.us-sect1 {
    display: flex;
    padding: 1rem;
    margin: 10px;
    flex-flow: row wrap;
    gap: 1rem;
    align-content: center;
    justify-content: center;
}

.us-sect1 picture img {
    width: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.us-sect1 article {
    font-size: 0.8rem;
    flex-basis: 45%;
}

.us-sect2 {
    display: flex;
    padding: 1rem;
    margin: 10px;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.tarjeta-us {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
    flex-basis: 20%;
}

.tarjeta-us .card-text {
    border: none;
}

.tarjeta-us .card-text h3 {
    font-size: 1rem;
    padding: 5px;
}

.tarjeta-us .card-text p {
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: left;
    padding: 5px;
}

.card-icon {
    font-size: 2.5rem;
}

.card-icon img {
    margin: -10px;
    width: 60px;
}

.us-sect2 picture img {
    width: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.reseñas {
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.503);
}

.slide {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

.slide-reseña {
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.slide-reseña>div {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.slide-reseña>div div {
    margin: 10px;
    line-height: 1.5rem;
}

.slide-reseña>div .author-image img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    width: 50px;
    border-radius: 50%;
}

.reseña {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    background-color: whitesmoke;
    padding: 10px;
}

.filosofia {
    padding: 1rem;
    height: 75vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 86%), url(../sources/images/nosotros/filos_image.jpg);
    background-position: center;
}

.filosofia-text {
    text-shadow: 0px 1px 1px #000000;
    padding: 1rem;
    text-align: center;
    line-height: 1.2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 86%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filosofia-text h2 {
    text-shadow: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 10px 0;
}

#dialogo1 {
    line-height: 1.2rem;
    text-align: center;
    gap: 1rem;
    padding: 1 rem;
    align-self: center;
    width: 25%;
    margin: 0 auto;
}